<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>C.M.S | User Type Selection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>College</b> Management System</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <form action="{% url 'choice' %}" method="post">
                    
                    {% csrf_token %}
                <p class="login-box-msg">Choose your login type</p>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'student_login' %}" class="btn btn-primary btn-block">Student</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'staff_login' %}" class="btn btn-success btn-block">Staff Login</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
</body>

</html>
